links and documents/*.tmp
links and documents/.$WellnessAI+ Block Diagram Architecture.drawio.bkp
links and documents/~$Gantt Chart.xlsx
*.zip
*.bkp
links and documents/Gantt Chart_2-1.svg
links and documents/Gantt Chart_2.pdf
links and documents/project outline and planning report/test.pdf
links and documents/project outline and planning report/test_1.pdf
links and documents/project outline and planning report/ilovepdf_pages-to-jpg/test_1_page-0001.jpg
links and documents/project outline and planning report/ilovepdf_pages-to-jpg/test_1_page-0003.jpg
links and documents/project outline and planning report/ilovepdf_pages-to-jpg/test_1_page-0002.jpg
links and documents/project outline and planning report/ilovepdf_pages-to-jpg/test_1_page-0004.jpg
links and documents/project outline and planning report/ilovepdf_pages-to-jpg/test_1_page-0005.jpg
STM32MPU_workspace/
STM32MPU_workspace/tmp/
STM32MPU_workspace/STM32MP1-Ecosystem-v5.0.0/
STM32MPU_workspace/STM32MPU-Tools/
software/
code/CA7/
code/CM4/
code/Common/
code/Drivers/
code/Middlewares/
code/.mxproject
code/.project
code/ecg sensor.ioc
links and documents/project outline and planning report/Similarity check.docx
links and documents/project outline and planning report/Title Page Template for Project Outline and Planning Report.docx
links and documents/project outline and planning report/EmotionAndHeartAnalysis.docx
links and documents/thesis/Title Page Template for BEng FYP Thesis.docx
links and documents/progress review meeting/sdp-priorities-november-2020.pptx
emotion recognition/emotion_rec_venv
emotion recognition/
emotion_recognition_1/
heart disease prediction/
.vscode/
*.pkl
data_preprocessing/output.csv
data_preprocessing/S2_respiban.txt
data_preprocessing/out.txt
data_preprocessing/output_1.csv
data_preprocessing/output_2.csv
data_preprocessing/output_filter_label/output_S2.csv
data_preprocessing/output_filter_label/output_S3.csv
data_preprocessing/output_filter_label/output_S4.csv
data_preprocessing/output_filter_label/output_S5.csv
data_preprocessing/output_filter_label/output_S6.csv
data_preprocessing/output_filter_label/output_S7.csv
data_preprocessing/output_filter_label/output_S8.csv
data_preprocessing/output_filter_label/output_S9.csv
data_preprocessing/output_filter_label/output_S10.csv
data_preprocessing/output_filter_label/output_S11.csv
data_preprocessing/output_filter_label/output_S13.csv
data_preprocessing/output_filter_label/output_S14.csv
data_preprocessing/output_filter_label/output_S15.csv
data_preprocessing/output_filter_label/output_S16.csv
data_preprocessing/output_filter_label/output_S10.csv
data_preprocessing/output_filter_label/output_S17.csv
model
data_preprocessing/output_filter_label
links and documents/progress review meeting/PR2/
links and documents/thesis/sensor hardware connection.drawio
links and documents/weekly meeting/~$eting Record Sheet 6 March.docx
links and documents/project outline and planning report/~$oject Outline and Planning Report.docx
test.py
links and documents/demo/Adobe Premiere Pro Auto-Save/Real-time ECG Emotion Classifiication--e6e4053e-2672-1cc6-ba94-4b18c3002e37-2024-04-10_18-16-05.prproj
links and documents/demo/Adobe Premiere Pro Auto-Save/Real-time ECG Emotion Classifiication--e6e4053e-2672-1cc6-ba94-4b18c3002e37-2024-04-10_18-24-48.prproj
links and documents/demo/Real-time ECG Emotion Classification.mp4
links and documents/demo/Real-time ECG Emotion Classifiication.prproj
links and documents/thesis/Methodology Flowchart No Color.drawio
links and documents/thesis/Methodology Flowchart No Color.drawio.pdf
links and documents/thesis/Methodology Flowchart No Color.drawio.svg
links and documents/thesis/Methodology Flowchart No Color.pdf
links and documents/thesis/Methodology Flowchart No Color.svg
links and documents/thesis/Methodology Flowchart.drawio
links and documents/project review proforma/~$oject Review Proforma 5.docx
links and documents/project review proforma/~WRL1427.tmp
links and documents/project review proforma/Project Review Proforma 2.docx
links and documents/project review proforma/Project Review Proforma 3.docx
links and documents/project review proforma/Project Review Proforma 4.docx
links and documents/project review proforma/Project Review Proforma 5.docx
links and documents/project review proforma/Project Review Proforma 2.docx
links and documents/project review proforma/Project Review Proforma.docx
links and documents/thesis/Architecture of ANN 2.drawio
links and documents/thesis/Architecture of ANN 2.svg
links and documents/thesis/Architecture of ANN 3.drawio
links and documents/thesis/Architecture of ANN 3.svg
links and documents/thesis/Architecture of ANN 4.drawio
links and documents/thesis/Architecture of ANN 5.drawio
links and documents/thesis/Architecture of ANN 4.svg
links and documents/thesis/Architecture of ANN 6.drawio
links and documents/thesis/Architecture of ANN 5.svg
links and documents/thesis/Architecture of ANN 6.svg
links and documents/thesis/Architecture of ANN.drawio
links and documents/thesis/Architecture of ANN.drawio.png
links and documents/thesis/Architecture of ANN.svg
links and documents/thesis/Architecture of CNN1drawio.drawio
links and documents/thesis/Architecture of CNN2drawio.drawio
links and documents/thesis/Architecture of CNN1drawio.svg
links and documents/thesis/Architecture of CNN2drawio.svg
links and documents/thesis/Architecture of CNN3drawio.drawio
links and documents/thesis/Architecture of CNN3drawio.svg
links and documents/thesis/~$418760 - Koay Xian Cong - BEng FYP Final Thesis.docx
links and documents/thesis/~WRL0418.tmp
links and documents/thesis/FYP Thesis Turnitin Report.pdf
links and documents/thesis/Methodology Flowchart No Color Enlarged.pdf
links and documents/thesis/Methodology Flowchart No Color Enlarged.svg
